table {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
}

td,
th {
  min-width: 10em;
  height: 20px;
}

table thead {
  color: #a0b0b9;
}

td,
th {
  text-transform: initial;
}

